@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
    height: 100vh;
    background: #ff334d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 0.6rem 0.4rem;
    border:none;
    border-radius: 0.4rem;
    outline: 0.5px solid #ff334d;
    background-color: #ff334ee6;
    cursor: pointer;
    color: #fff;
}

.translater-container{
    background: rgba(250, 250, 250, 0.949);
    max-width: 550px;
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0.8rem;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.title i{
  color: #ff334d;
}

form{
 display: flex;
 flex-direction: column;
 gap: 1.2rem;
}

label{
    font-size: 1.3rem;
    font-weight: bold;
}

form select{
    padding: 0.4rem;
    border:none;
    border-radius: 0.3rem;
    outline: 1px solid #ff334d;
}

.translater-container .trans-btn:hover{
    background-color: #ff334d;
}

.translated-container{
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.translated-container .translated-text{
    color: #300208;
    font-weight: 500;
}

textarea{
    all: unset;
    outline: 0.3px solid #ff334d;
    padding: 0.8rem 0.4rem;
}